#display-photo {
    max-width: 250px;
    height: auto;
    object-fit: contain;
}

.display-text {
    background-color: color-mix(in srgb, var(--secondary-background-color) 30%, var(--secondary-text-color) 30%);
    max-width: fit-content;
    padding: 7px;
    border-radius: 10px;
    text-shadow: 2px 2px 1px var(--secondary-text-color);
}

.text-link {
    text-decoration: none;
    color: var(--secondary-text-color);
    text-shadow: 2px 1px 2px var(--main-text-color);
    font-weight: bold;
}

.text-link:hover {
    text-shadow: 0px 0px 2px var(--main-text-color);
    color: var(--secondary-background-color);
}

@media screen and (min-width: 700px){
    .display-text {
        background-color: transparent;
        max-width: auto;
        border-radius: 0px;
    }
}