.outer-container-design {
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}

.main-button-colors {
    background-color: var(--main-background-color) !important;
    color: var(--main-text-color) !important;
}

.main-button-colors:focus {
    color: var(--main-text-color);
}

.main-button-colors:hover {
    color: var(--secondary-text-color) !important;
}

.inner-container-design {
    background-color: var(--secondary-background-color);
    color: var(--main-text-color);
    box-shadow: 0px 0px 4px 2px var(--secondary-text-color);
}

.pdf-viewer {
    min-height: 250px;
    width: 100%;
    max-width: 800px;
    min-height: 550px;
    height: 100%;
    max-height: 500px;
}

@media screen and (max-width: 1500px) {
    .pdf-viewer {
        min-height: 350px;
    }
}

@media screen and (max-width: 1100px) {
    .pdf-viewer {
        min-height: 250px;
    }
}

@media screen and (max-width: 768px) {
    .pdf-viewer {
        min-height: 150px;
        min-width: 150px;
    }
}