.hero-area-photo {
    max-width: 250px;
    height: fit-content;
    object-fit: contain;
}

.hero-area-text {
    max-width: auto;
    text-shadow: 2px 2px 1px var(--secondary-text-color);
}

.photos-area-image {
    width: 100%;
    max-width: 250px;
}

.project-description {
    font-size: 12px;
}

#photo-cards {
    max-height: 400px;
    overflow-y: scroll;
}

.photo-card-container {
    background-color: var(--secondary-background-color);
    color: var(--main-text-color);
}

#project-carousel {
    height: 300px;
    width: 300px;
}

@media screen and (max-height: 600px) {
    #photo-area-carousel {
        max-width: 600px;
    }
}

@media screen and (max-height: 500px) {
    #photo-area-carousel {
        max-width: 450px;
    }
}