#hero-area-photo {
    max-width: 250px;
    height: auto;
    object-fit: contain;
}

.hero-area-text {
    background-color: color-mix(in srgb, var(--secondary-background-color) 30%, var(--secondary-text-color) 30%);
    max-width: fit-content;
    border-radius: 10px;
    text-shadow: 3px 3px 1px var(--secondary-text-color);
    padding: 3px;
}

.photos-area-image {
    width: 100%;
    max-width: 250px;
}

.project-description {
    font-size: 12px;
}

#photo-cards {
    max-height: 300px;
    overflow-y: scroll;
}

.photo-card-container {
    background-color: var(--secondary-background-color);
    color: var(--main-text-color);
}

#project-carousel {
    height: 320px
}

@media screen and (min-width: 700px){
    .hero-area-text {
        background-color: transparent;
        max-width: auto;
        border-radius: 0px;
    }
}

@media screen and (max-height: 600px) {
    #photo-area-carousel {
        max-width: 600px;
    }
}

@media screen and (max-height: 500px) {
    #photo-area-carousel {
        max-width: 450px;
    }
}